# Dependencies
node_modules/

# Next.js build output
.next/
out/

# TypeScript incremental compilation
*.tsbuildinfo

# Environment variables
.env*.local
.env

# Editor directories
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
